body{
    background-color: black;
}
#parent-container{
    width: 50%;
    height: 600px;
    margin: auto;
    text-align: center;
    background-color: yellow;
}

#container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: auto;
}

.cells{
    width: 100px;
    height: 100px;
    font-size: 100px;
    border: 3px solid black;
}

.playing-btn{
    width: 100%;
}

.home-btn{
    color: yellow;
    background-color: black;
}

.home-link{
    text-decoration: none;
    color: yellow;
}

.restart-btn{
    color: yellow;
    background-color: black;
}